---
import MiFoto from "../../assets/img/MiFoto.png";
---

<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Photo of Pol"
      class="h-full w-full object-cover"
    />
  </div>

  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      My name is <span class="text-white text-shadow">Pol</span>
    </h2>
    <p class="mt-4">
      I'm a <span class="text-primary font-semibold">game development</span> student with a passion for creating
      <span class="text-primary font-semibold">interactive experiences</span>. I work with game engines like
      <span class="text-primary font-semibold">Unreal Engine</span> and
      <span class="text-primary font-semibold">Unity</span>, programming in
      <span class="text-primary font-semibold">C++</span> and
      <span class="text-primary font-semibold">C#</span> to bring game ideas to life.
    </p>
    <p class="mt-2">
      My interest in <span class="text-primary font-semibold">technology</span> and
      <span class="text-primary font-semibold">game development</span> grew from my love of
      <span class="text-primary font-semibold">video games</span> and the desire to understand how they are built.
      This curiosity led me to pursue <span class="text-primary font-semibold">game development</span> as my
      <span class="text-primary font-semibold">career path</span>.
    </p>
    <p class="mt-2">
      I'm always committed to <span class="text-primary font-semibold">continuous growth</span> and
      <span class="text-primary font-semibold">improvement</span> in my skills, seeking to adapt to new
      <span class="text-primary font-semibold">technological advances</span> and push myself both
      <span class="text-primary font-semibold">professionally</span> and
      <span class="text-primary font-semibold">personally</span>.
    </p>
  </div>
</div>
