---
import Layout from "../layouts/Layout.astro";
import MiFoto from "../assets/img/MiFoto.png";
import CopyMail from "../components/links/copyMail.jsx";

const links = [
  {
    href: "https://www.linkedin.com/in/pol-lleida-ramírez",
    label: "LinkedIn",
  },
  { href: "https://github.com/polplasher", label: "GitHub" },
  { href: "mailto:pollleida13@gmail.com", label: "Email" },
];
---

<Layout>
  <section
    class="bg-gray-900 flex min-h-screen flex-col items-center justify-center px-6"
  >
    <h1
      class="text-4xl md:text-5xl font-extrabold text-white mb-6 mt-11 drop-shadow-[3px_3px_0_#7836cf]"
    >
      Let's Connect!
    </h1>

    <div class="mb-2">
      <div class="relative flex items-center justify-center">
        <img
          src={MiFoto.src}
          alt="Photo of Pol"
          class="border-primary h-32 w-32 rounded-full shadow-lg"
        />
      </div>
    </div>

    <CopyMail client:visible />

    <!-- Lista de Links -->
    <div class="w-full max-w-xl space-y-4">
      {
        links.map((link) => (
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class="block font-bold w-full rounded-lg bg-primary hover:bg-secondary drop-shadow-[2px_2px_0_#0debd8] px-6 py-3 text-center text-white transition "
          >
            {link.label}
          </a>
        ))
      }
    </div>
  </section>
</Layout>
